@use '@angular/material' as mat;
@use 'variables' as var;

@mixin cell-style() {
  &:not(.ag-cell-inline-editing) {
    &.not-editable {
      background-color: var.$cell-not-editable-color;

      &.other-card {
        background-color: var.$cell-other-card-not-editable;
      }

      &.installment {
        background-color: var.$cell-not-editable-installment-color;

        &.other-card {
          background-color: var.$cell-other-card-installment-not-editable;
        }
      }
    }

    &.installment {
      background-color: var.$cell-installment-color;

      &.other-card {
        background-color: var.$cell-other-card-installment;
      }
    }

    &.other-card {
      background-color: var.$cell-other-card;
      color: white;
      --ag-range-selection-border-color: #8fcf5f;
      .ag-icon {
        color: rgba(255, 255, 255, 0.54);
      }
    }
  }
}

.ag-grid-expenses {
  .mat-icon.mat-icon-dynamic-ag-grid {
    font-size: 16px;
    width: 16px;
    height: 16px;
    transform: rotate(0.3deg);
  }

  .ag-cell {
    &.invalid {
      &::before {
        content: '';
        border: 1px solid mat.get-color-from-palette(var.$grid-spends-warn);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
    }

    transition: background-color 200ms;

    @include cell-style();
  }

  .ag-row {
    &.ag-row-hover {
      .ag-cell {
        &:not(.ag-cell-inline-editing) {
          &.not-editable {
            background-color: darken(var.$cell-not-editable-color, 5);

            &.other-card {
              background-color: darken(var.$cell-other-card-not-editable, 5);
            }

            &.installment {
              background-color: darken(var.$cell-not-editable-installment-color, 5);

              &.other-card {
                background-color: darken(var.$cell-other-card-installment-not-editable, 5);
              }
            }
          }

          &.installment {
            background-color: darken(var.$cell-installment-color, 5);

            &.other-card {
              background-color: darken(var.$cell-other-card-installment, 5);
            }
          }

          &.other-card {
            background-color: darken(var.$cell-other-card, 5);
          }
        }
      }
    }
  }

  .ag-root:not(.ag-context-menu-open) {
    .ag-body-viewport:not(.ag-has-focus) {
      .ag-cell {
        @include cell-style();
      }
    }
  }

  .ag-cell-range-selected:not(.ag-cell-focus),
  .ag-body-viewport:not(.ag-has-focus) .ag-cell-range-single-cell:not(.ag-cell-inline-editing) {
    &.ag-cell {
      @include cell-style();
    }
  }

  .ag-menu-option-part.ag-menu-option-icon {
    display: flex;
    width: 100%;
  }
}
